.comment
  .comment_owner
    %span= comment.created_at.strftime('%d de %B, %Y')
    == -
    %span
      %b==  by #{comment.user.name}
  .comment_body
    %p
      - if current_user == comment.nota.user
        = on_the_spot_edit comment,:comment, :type => :textarea, :rows => 6, :columns => 68
      - else
        = comment.comment
