$globant_color: #CBE73F
body
  :font
    :family Ubuntu,Verdana, Helvetica
    :size 14px
.clear
  :clear both
.flash
  :background  $globant_color
  :padding 5px 
  :color #0c0c0c
  :border 1px solid #8B9E2E
  :text-align center
  :margin 5px 10px
  :font
    :size 20px
    :weight bold
  .close_button
    :float right
    :text-align middle
    :padding-bottom 5px
#header
  :background url(/images/bg_header.jpg) repeat
  #left_side
    :float left
    :width 71.5%
    :padding-top 55px
    :margin-left 15px
    //:padding-right 150px
  #right_side  
    #search_title
      :font-size 12px
      :margin-bottom 8px  
    :padding-top 50px
    :float right
    :color #fff
    :margin-right 25px
#container
  :background-image -webkit-gradient(linear,left bottom,right bottom,color-stop(0.37, rgb(230,230,230)),color-stop(0.69, rgb(189,189,189)))
  #side_panel
    :background #fff
    :width 19%
    :float left
    :padding 10px
    :margin-top 10px
    :margin-left 10px
    :border solid #E8E8E6 2px
    :border-radius 5px
    :-moz-border-radius 5px
    #login_form
    #user_panel
      #login_form
        :color #666666
        #user_login_header
          :font
            :size 20px
            :weight bold
          :color #0c0c0c
          :padding 10px 0 
          :border-bottom solid 3px $globant_color
          :color #666666
        input[type=submit]
          :float right        
          :color #fff
          :margin-right -5px
          :padding 3px 18px
          :font
            :size 15px
            :weight bold
          :border solid $globant_color 1px  
          :background $globant_color 
      #user_info
        :color #666666
        #user_header
          :font
            :size 20px
            :weight bold
          :color $globant_color
          :padding 5px
          :border-bottom solid 3px $globant_color
        #user_name          
          :border-top solid #cecece 2px
          :border-bottom solid #cecece 2px
          :border-right solid #cecece 2px
          :padding 10px
          :margin-left -10px
          .user_email
            :font
              :size 13px
          .user_my_notes
            :font
              :size 13px
              :weight bold
            :color #34C6F7
        .logout_link
          :padding 4px
          :float right        
          :text-align right
          :text-decoration none
          :color #fff
          :font
            :size 15px
            :weight bold
          :background $globant_color
    #note_buttons
      :text-align center
      :margin-top 5px
      a
        :color #fff
        :text-decoration none
        :font
          :size 20px
          :weight bold
      .new_note
        :padding 5px
        :width 47%
        :float left
        :background #34C6F7
      .all_notes
        :padding 5px
        :width 45%
        :float right
        :background #F78C34
    #tag_panel
      #tag_header
        a
          :text-decoration none
          :font
            :size 20px
            :weight bold
          :color #fff
        :text-align left
        :padding 8px
        :background #666666
        :margin-top 5px
      #tag_list
        :border solid 2px #cecece
        :padding 8px
        :width 90%
        :margin auto  
        a
          :font-weight bold
          :color #222
          :text-decoration none
        .css1
          :font-size 1em
        .css2    
          :font-size 1.2em
        .css3    
          :font-size 1.4em
        .css4    
          :font-size 1.6em
  #content  
    :float right
    :width 78%
    .note
      :margin-top 10px
      :float left  
      :background url(/images/head_note.png) top no-repeat
      .note_complete
        :color #fff
        :margin  18px 10px
        :width 286px
        :padding 7px
        :background #0c0c0c
        :border-bottom 3px solid $globant_color
        :border-left 2px solid $globant_color
        :border-right 2px solid $globant_color
        .header
          :margin 0 10px
          :font
            :size 11px
            :weight bold
          .note_owner
            :font
              :size 12px
              :weight bold
            :color $globant_color
        .title_header
          .title
            a
              :color #222
              :font
                :size 25px
                :weight bold
              :text-decoration none
              :margin-left 10px
            h2
              :padding 5px
          :width 100%  
          :background $globant_color
          :margin-left -7px
          :border-radius 0 3px 3px 0
          :-moz-border-radius 0 3px 3px 0
        .body
          :height 100px
          :margin 0 10px
          :border-bottom solid 1px $globant_color
          :font
            :size 15px
        .tags
          :margin-right 10px
          :float right
          a
            :color $globant_color
            :text-decoration none
            :font
              :size 15px
              :weight bold
        
    
#pagination
  :width 96%
  :text-align right
  :border-top 3px solid #666666
  :float right
  :margin 5px 20px 5px 0
  :padding 5px    
    
#nota_form
  :margin 10px
  :border solid 1px #666666
  :width 62%
  :padding 10px
  #new_note_title
    :color #34C6F7
    :font
      :size 30px
      :weight bold
    :border-bottom solid 2px #34C6F7
  #submit_form_buttons
    :font
      :size 15px
      :weight bold      
    :float right
    :width 30%
    :margin-right 10px
    #link_cancel  
      :margin 0 -5px 0 0
      :background #34C6F7
      :color #fff
      :padding 4px 15px 4px 15px
      :text-decoration none
    #submit_button
      :background #14ADDB
      :border solid 2px #14ADDB
      :color #fff
      :margin 0
      :padding 2px 10px
      :text-decoration none
      :font
        :family Ubuntu,Verdana, Helvetica
        :size 15px
        :weight bold
#help_area
  :margin 10px
  :float right
  :width 30%
  .help_wrap
    :padding 10px
    :border solid 1px #666666

#nota_show
  :margin 10px
  :background #666666
  :border solid 1px #666666
  :width 62%
  :padding 10px
  :color #fff
  #top_header
    .triangle_left_title
    :border-color transparent transparent #B8B8B8 transparent 
    :border-style solid
    :border-width 12px
    :height 0px
    :width 0px
    :float right
    :position relative
    :top -23px
    :right -24px
    :-webkit-transform rotate(45deg)
    :-moz-transform rotate(45deg)
  #header_note
    :margin 0 10px
    :font
      :size 11px
      :weight bold
    #note_info
      :float right
    #note_owner    
      :font
        :size 12px
        :weight bold
      :color $globant_color
  #note_title
    #title
      :color #222
      :font
        :size 25px
        :weight bold
      :margin-left 10px
      h2
        :padding 5px
    :width 100%  
    :background $globant_color
    :margin-left -11px
  #body_note
    :min-height 120px
  #tags
    :border-top 2px solid $globant_color
    :padding 7px
    a
      :color $globant_color
      :text-decoration none
  #links_note
    :float right
    :font
      :size 15px
      :weight bold
    a
      :color #fff
      :text-decoration none
    #link_delete  
      :margin 0 -5px 0 0 
      :background #34C6F7
      :padding 4px 15px 4px 15px
    #link_edit
      :background #14ADDB
      :border solid 2px #14ADDB
      :margin 0 0 0 0 
      :padding 2px 10px
      :text-decoration none
#comments_note
  :width 60%
  :margin 10px
  :padding 20px
  :background #fff
  a
    :color #666666
    :text-decoration none
    :font
      :size 15 px
      :weight bold  
  #links_comments
    :float right
    :margin-right 8px
    :margin-top -7px
    :font
      :size 15px
      :weight bold
    a
      :color #fff
      :text-decoration none
      
    #link_create 
      :background #14ADDB
      :border solid 2px #14ADDB
      :color #fff
      :margin 0
      :padding 2px 10px
      :text-decoration none
      :font
        :family Ubuntu,Verdana, Helvetica
        :size 15px
        :weight bold
    #link_cancel
      :background #34C6F7
      :border solid 2px #34C6F7
      :margin 0 -5px 0 0 
      :padding 2px 10px
      :text-decoration none
    .new_comment
      textarea
        :border solid 1px #666666   
  .list_comments
    .comment
      :padding 10px
      :margin 10px 0
      :color #9C9798
      :border-top 2px solid #666666
      .comment_owner
        :font        
          :size 12px
      .comment_body
      
/*Span Cargando Datos*/
#loading
  img
    :float left
    :padding 0 25px 
    :bottom 10px
  #loading_title 
    :bottom 15px
    :margin-left 10px
    :font-size 50px
    :float left

.blockMsg  
  :border none 
  :position absolute !important
  //:top 245px !important
  :opacity .75
  :width  70%  !important
  :text-align  center !important
  :-moz-border-radius  10px
  :-webkit-border-radius  10px
  :-ms-filter  "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"
  :filter  progid:DXImageTransform.Microsoft.Alpha(Opacity=50)
  :-moz-opacity .60 !important
  :color #000 !important
  :background-color $globant_color !important



