body {
  background-color: #222222;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  margin: 0 auto;
  background: #222222;
  padding: 20px 40px;
  margin-top: 20px; }
  #container #header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white; }
  #container #subhead {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white; }

#flash_notice,
#flash_error {
  border-radius: 6px;
  font-weight: bold;
  text-align: center; }

.flash {
  border-radius: 6px;
  font-weight: bold;
  text-align: center; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #cc0000;
    color: white; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

#nota_form input, #nota_form textarea {
  border: 1px solid #cecece;
  border-radius: 5px; }
#nota_form label {
  float: left;
  width: 70px; }

#nota_form {
  background: white;
  padding: 15px;
  border-radius: 8px; }

#sortable li {
  margin: 20px 15px;
  padding: 1px;
  float: left;
  width: 220px;
  height: 200px;
  padding: 15px;
  display: inline; }

.nota {
  background: #dbd7d7;
  width: 220px;
  border-radius: 10px; }
  .nota .content {
    height: 180px; }
  .nota .link {
    clear: both; }

.clearfix {
  clear: both; }

#nota_show {
  background: #dbd7d7;
  padding: 15px;
  border-radius: 10px;
  min-height: 300px;
  min-width: 350px; }

.title {
  font-size: 10px;
  padding: 3px; }
  .title span {
    cursor: pointer; }
  .title .info a {
    color: black;
    text-decoration: none; }
  .title .left {
    float: left; }
  .title .right {
    float: right; }

#index {
  margin: 15px 5px 15px -25px;
  width: 100%; }

.pagination {
  width: auto;
  text-align: left;
  color: white;
  margin: 10px 0 0 40px; }
  .pagination em {
    text-decoration: underline; }
  .pagination a,
  .pagination span {
    color: white;
    text-decoration: none;
    padding: 1px 5px;
    margin: 0 0 0 2px;
    font-weight: bold; }
    .pagination a:link, .pagination a:visited,
    .pagination span:link,
    .pagination span:visited {
      color: white;
      text-decoration: none;
      color: white;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
    .pagination a:hover, .pagination a:active,
    .pagination span:hover,
    .pagination span:active {
      color: white;
      background: #cccccc;
      color: #222222;
      text-decoration: none;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
  .pagination span .current {
    font-weight: bold;
    background: #cccccc;
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  .pagination span .disabled {
    color: white;
    background: #cccccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }

#note_counter {
  color: white;
  font-size: 15px;
  margin: 10px 0 0 45px; }

.counter {
  color: #696868;
  font-weight: bold;
  font-size: small;
  margin-left: 80px; }

#search_form {
  float: right; }
  #search_form input, #search_form textarea {
    border: 1px solid #cecece;
    border-radius: 5px; }

#footer {
  padding: 10px;
  text-align: center;
  color: white; }
