body {
  font-family: Ubuntu, Verdana, Helvetica;
  font-size: 14px; }

.clear {
  clear: both; }

.flash {
  background: #cbe73f;
  padding: 5px;
  color: #0c0c0c;
  border: 1px solid #8b9e2e;
  text-align: center;
  margin: 5px 10px;
  font-size: 20px;
  font-weight: bold; }
  .flash .close_button {
    float: right;
    text-align: middle;
    padding-bottom: 5px; }

#header {
  background: url(/images/bg_header.jpg) repeat; }
  #header #left_side {
    float: left;
    width: 71.5%;
    padding-top: 55px;
    margin-left: 15px; }
  #header #right_side {
    padding-top: 50px;
    float: right;
    color: white;
    margin-right: 25px; }
    #header #right_side #search_title {
      font-size: 12px;
      margin-bottom: 8px; }

#container {
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.37, #e6e6e6), color-stop(0.69, #bdbdbd)); }
  #container #side_panel {
    background: white;
    width: 19%;
    float: left;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border: solid #e8e8e6 2px;
    border-radius: 5px;
    -moz-border-radius: 5px; }
    #container #side_panel #user_panel #login_form {
      color: #666666; }
      #container #side_panel #user_panel #login_form #user_login_header {
        font-size: 20px;
        font-weight: bold;
        color: #0c0c0c;
        padding: 10px 0;
        border-bottom: solid 3px #cbe73f;
        color: #666666; }
      #container #side_panel #user_panel #login_form input[type=submit] {
        float: right;
        color: white;
        margin-right: -5px;
        padding: 3px 18px;
        font-size: 15px;
        font-weight: bold;
        border: solid #cbe73f 1px;
        background: #cbe73f; }
    #container #side_panel #user_panel #user_info {
      color: #666666; }
      #container #side_panel #user_panel #user_info #user_header {
        font-size: 20px;
        font-weight: bold;
        color: #cbe73f;
        padding: 5px;
        border-bottom: solid 3px #cbe73f; }
      #container #side_panel #user_panel #user_info #user_name {
        border-top: solid #cecece 2px;
        border-bottom: solid #cecece 2px;
        border-right: solid #cecece 2px;
        padding: 10px;
        margin-left: -10px; }
        #container #side_panel #user_panel #user_info #user_name .user_email {
          font-size: 13px; }
        #container #side_panel #user_panel #user_info #user_name .user_my_notes {
          font-size: 13px;
          font-weight: bold;
          color: #34c6f7; }
      #container #side_panel #user_panel #user_info .logout_link {
        padding: 4px;
        float: right;
        text-align: right;
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
        background: #cbe73f; }
    #container #side_panel #note_buttons {
      text-align: center;
      margin-top: 5px; }
      #container #side_panel #note_buttons a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold; }
      #container #side_panel #note_buttons .new_note {
        padding: 5px;
        width: 47%;
        float: left;
        background: #34c6f7; }
      #container #side_panel #note_buttons .all_notes {
        padding: 5px;
        width: 45%;
        float: right;
        background: #f78c34; }
    #container #side_panel #tag_panel #tag_header {
      text-align: left;
      padding: 8px;
      background: #666666;
      margin-top: 5px; }
      #container #side_panel #tag_panel #tag_header a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: white; }
    #container #side_panel #tag_panel #tag_list {
      border: solid 2px #cecece;
      padding: 8px;
      width: 90%;
      margin: auto; }
      #container #side_panel #tag_panel #tag_list a {
        font-weight: bold;
        color: #222222;
        text-decoration: none; }
      #container #side_panel #tag_panel #tag_list .css1 {
        font-size: 1em; }
      #container #side_panel #tag_panel #tag_list .css2 {
        font-size: 1.2em; }
      #container #side_panel #tag_panel #tag_list .css3 {
        font-size: 1.4em; }
      #container #side_panel #tag_panel #tag_list .css4 {
        font-size: 1.6em; }
  #container #content {
    float: right;
    width: 78%; }
    #container #content .note {
      margin-top: 10px;
      float: left;
      background: url(/images/head_note.png) top no-repeat; }
      #container #content .note .note_complete {
        color: white;
        margin: 18px 10px;
        width: 286px;
        padding: 7px;
        background: #0c0c0c;
        border-bottom: 3px solid #cbe73f;
        border-left: 2px solid #cbe73f;
        border-right: 2px solid #cbe73f; }
        #container #content .note .note_complete .header {
          margin: 0 10px;
          font-size: 11px;
          font-weight: bold; }
          #container #content .note .note_complete .header .note_owner {
            font-size: 12px;
            font-weight: bold;
            color: #cbe73f; }
        #container #content .note .note_complete .title_header {
          width: 100%;
          background: #cbe73f;
          margin-left: -7px;
          border-radius: 0 3px 3px 0;
          -moz-border-radius: 0 3px 3px 0; }
          #container #content .note .note_complete .title_header .title a {
            color: #222222;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
            margin-left: 10px; }
          #container #content .note .note_complete .title_header .title h2 {
            padding: 5px; }
        #container #content .note .note_complete .body {
          height: 100px;
          margin: 0 10px;
          border-bottom: solid 1px #cbe73f;
          font-size: 15px; }
        #container #content .note .note_complete .tags {
          margin-right: 10px;
          float: right; }
          #container #content .note .note_complete .tags a {
            color: #cbe73f;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold; }

#pagination {
  width: 96%;
  text-align: right;
  border-top: 3px solid #666666;
  float: right;
  margin: 5px 20px 5px 0;
  padding: 5px; }

#nota_form {
  margin: 10px;
  border: solid 1px #666666;
  width: 62%;
  padding: 10px; }
  #nota_form #new_note_title {
    color: #34c6f7;
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid 2px #34c6f7; }
  #nota_form #submit_form_buttons {
    font-size: 15px;
    font-weight: bold;
    float: right;
    width: 30%;
    margin-right: 10px; }
    #nota_form #submit_form_buttons #link_cancel {
      margin: 0 -5px 0 0;
      background: #34c6f7;
      color: white;
      padding: 4px 15px 4px 15px;
      text-decoration: none; }
    #nota_form #submit_form_buttons #submit_button {
      background: #14addb;
      border: solid 2px #14addb;
      color: white;
      margin: 0;
      padding: 2px 10px;
      text-decoration: none;
      font-family: Ubuntu, Verdana, Helvetica;
      font-size: 15px;
      font-weight: bold; }

#help_area {
  margin: 10px;
  float: right;
  width: 30%; }
  #help_area .help_wrap {
    padding: 10px;
    border: solid 1px #666666; }

#nota_show {
  margin: 10px;
  background: #666666;
  border: solid 1px #666666;
  width: 62%;
  padding: 10px;
  color: white; }
  #nota_show #top_header {
    border-color: transparent transparent #b8b8b8 transparent;
    border-style: solid;
    border-width: 12px;
    height: 0px;
    width: 0px;
    float: right;
    position: relative;
    top: -23px;
    right: -24px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg); }
  #nota_show #header_note {
    margin: 0 10px;
    font-size: 11px;
    font-weight: bold; }
    #nota_show #header_note #note_info {
      float: right; }
    #nota_show #header_note #note_owner {
      font-size: 12px;
      font-weight: bold;
      color: #cbe73f; }
  #nota_show #note_title {
    width: 100%;
    background: #cbe73f;
    margin-left: -11px; }
    #nota_show #note_title #title {
      color: #222222;
      font-size: 25px;
      font-weight: bold;
      margin-left: 10px; }
      #nota_show #note_title #title h2 {
        padding: 5px; }
  #nota_show #body_note {
    min-height: 120px; }
  #nota_show #tags {
    border-top: 2px solid #cbe73f;
    padding: 7px; }
    #nota_show #tags a {
      color: #cbe73f;
      text-decoration: none; }
  #nota_show #links_note {
    float: right;
    font-size: 15px;
    font-weight: bold; }
    #nota_show #links_note a {
      color: white;
      text-decoration: none; }
    #nota_show #links_note #link_delete {
      margin: 0 -5px 0 0;
      background: #34c6f7;
      padding: 4px 15px 4px 15px; }
    #nota_show #links_note #link_edit {
      background: #14addb;
      border: solid 2px #14addb;
      margin: 0 0 0 0;
      padding: 2px 10px;
      text-decoration: none; }

#comments_note {
  width: 60%;
  margin: 10px;
  padding: 20px;
  background: white; }
  #comments_note a {
    color: #666666;
    text-decoration: none;
    font-size: 15 px;
    font-weight: bold; }
  #comments_note #links_comments {
    float: right;
    margin-right: 8px;
    margin-top: -7px;
    font-size: 15px;
    font-weight: bold; }
    #comments_note #links_comments a {
      color: white;
      text-decoration: none; }
    #comments_note #links_comments #link_create {
      background: #14addb;
      border: solid 2px #14addb;
      color: white;
      margin: 0;
      padding: 2px 10px;
      text-decoration: none;
      font-family: Ubuntu, Verdana, Helvetica;
      font-size: 15px;
      font-weight: bold; }
    #comments_note #links_comments #link_cancel {
      background: #34c6f7;
      border: solid 2px #34c6f7;
      margin: 0 -5px 0 0;
      padding: 2px 10px;
      text-decoration: none; }
    #comments_note #links_comments .new_comment textarea {
      border: solid 1px #666666; }
  #comments_note .list_comments .comment {
    padding: 10px;
    margin: 10px 0;
    color: #9c9798;
    border-top: 2px solid #666666; }
    #comments_note .list_comments .comment .comment_owner {
      font-size: 12px; }

/*Span Cargando Datos */
#loading img {
  float: left;
  padding: 0 25px;
  bottom: 10px; }
#loading #loading_title {
  bottom: 15px;
  margin-left: 10px;
  font-size: 50px;
  float: left; }

.blockMsg {
  border: none;
  position: absolute !important;
  opacity: 0.75;
  width: 70% !important;
  text-align: center !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity: 0.6 !important;
  color: black !important;
  background-color: #cbe73f !important; }
