.tipsy {
  padding: 5px;
  font-size: 13px;
  opacity: 0.7;
  filter: alpha(opacity=80);
  background-repeat: no-repeat;
  background-image: url(/images/tipsy.gif); }

.tipsy-inner {
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  min-width: 50px;
  max-width: 200px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.tipsy-north {
  background-position: top center; }

.tipsy-south {
  background-position: bottom center; }

.tipsy-east {
  background-position: right center; }

.tipsy-west {
  background-position: left center; }
