%span.value
  = pluralize(@nota.votes.size, 'vote')
- if current_user && @nota.was_voted_by(current_user)
  %span#vote.right
    = link_to "VOTE!", add_vote_nota_path(@nota), :remote => true, :method => "post"

