- title "Related Notes"

#index
  - for nota in @notas
    = render :partial => 'notas/nota', :locals =>{:nota => nota}
  .clear  
  = will_paginate @notas, :prev_label => "back", :next_label => "next"

